@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 233, 233, 233;
}

body {
  background-color: rgb(var(--background-rgb));
}